<%= form_for(@user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if action == 'edit' %>
    <div class="field">
      <%= form.label :real_name %><br/>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :hometown %><br/>
      <%= form.text_field :hometown %>
    </div>

    <div class="field">
      <%= form.label :birthday %><br/>
      <%= form.date_select(:birthday, {:start_year => 1900, :end_year => Time.now.year}) %>
    </div>
  <% end %>

  <% if action == 'new' %>
    <div class="field">
      <%= form.label :login %><br/>
      <%= form.text_field :login %>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
