<div class="question-summary">
  <div class="statscontainer">
    <div class="statsarrow"></div>
    <div class="stats">
      <div class="vote">
        <div class="votes">
          <span class="vote-count-post"><strong><%= @question.score %></strong></span>
          <div class="viewcount"><%= pluralize_word(@question.score, 'vote') %></div>
        </div>
        <div class="<%= @question.answered? ? 'answered' : 'unanswered' %> status"> 
          <strong><%= @question.num_answers %></strong><br/>
          <%= pluralize_word(@question.num_answers, 'answer') %>
        </div>
      </div>
      <div class="views"> <%= pluralize(@question.views, 'view') %></div>
    </div>
  </div>
  <div class="summary">
    <h3><%= link_to @question.title, question_answers_path(@question) %></h3>
    <% if @excerpt %>
      <div class="excerpt">
        <%= @question.excerpt %>
      </div>
    <% end %>
    <div class="tags">
      <% @question.tags.each do |tag| %>
        <%= link_to tag.name, merge_params(:controller => :questions, :action => :index, :tagged_with => tag.name), :class => 'post-tag' %>
      <% end %>
    </div>
    <div class="started fr">
      <div class="user-action-time">asked <span class="relativetime"> <%= time_ago_in_words(@question.created_at) %> ago</span></div>
      <div class="user-details">
        by <%= link_to @question.user.login, @question.user %>
      </div>
      <div class="active-time"> Last active <%= time_ago_in_words(@question.active_at) %> ago </div>
    </div>
  </div>
</div>
